<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>家庭記帳本</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid d-flex justify-content-between mx-3">
        <a class="navbar-brand fw-bold">家庭記帳本</a>
        <a href="/users/logout" class="btn btn-outline-dark fw-bold " style="color:orange; width:80px ">登出</a>
      </div>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
</body>

</html>