<div class="container mt-5">
  <div class="selections col-5 mx-auto">
    <form action="/category" method="post">
      <select class="form-select">
        <option selected>類別</option>

      </select>
    </form>
  </div>
</div>